/*
@mixin box-sizing {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*/
/* BOOTSTRAP MIXINS */
/* line 8, ../../sass/library/button-groups.scss */
.btn-group {
  position: relative;
  display: inline-block;
  *display: inline;
  /* IE7 inline-block hack */
  *zoom: 1;
  vertical-align: middle;
  white-space: nowrap;
  *margin-left: .3em;
  border: 1px solid #141414;
  border-color: rgba(36, 36, 36, 0.4) rgba(50, 50, 50, 0.6) rgba(230, 230, 230, 0.1);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
}
/* line 166, ../../sass/framework/_mixins.scss */
.btn-group:first-child {
  *margin-left: 0;
}

/* line 22, ../../sass/library/button-groups.scss */
.btn-group + .btn-group {
  margin-left: 5px;
}

/* line 27, ../../sass/library/button-groups.scss */
.btn-toolbar {
  font-size: 0;
  margin-top: 10px;
  margin-bottom: 10px;
}
/* line 33, ../../sass/library/button-groups.scss */
.btn-toolbar > .btn + .btn,
.btn-toolbar > .btn-group + .btn,
.btn-toolbar > .btn + .btn-group {
  margin-left: 5px;
}

/* line 39, ../../sass/library/button-groups.scss */
.btn-group > .btn {
  position: relative;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
}

/* line 43, ../../sass/library/button-groups.scss */
.btn-group > .btn + .btn {
  margin-left: -5px;
}

/* line 48, ../../sass/library/button-groups.scss */
.btn-group > .btn,
.btn-group > .dropdown-menu,
.btn-group > .popover {
  font-size: 1em;
}

/* line 53, ../../sass/library/button-groups.scss */
.btn-group > .btn-mini {
  font-size: 0.65em;
}

/* line 56, ../../sass/library/button-groups.scss */
.btn-group > .btn-small {
  font-size: 0.85em;
}

/* line 59, ../../sass/library/button-groups.scss */
.btn-group > .btn-large {
  font-size: 1.25em;
}

/* line 64, ../../sass/library/button-groups.scss */
.btn-group > .btn:first-child {
  margin-left: 0;
  -moz-border-radius-topleft: 4px;
  -webkit-border-top-left-radius: 4px;
  border-top-left-radius: 4px;
  -moz-border-radius-bottomleft: 4px;
  -webkit-border-bottom-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

/* line 71, ../../sass/library/button-groups.scss */
.btn-group > .btn:last-child,
.btn-group > .dropdown-toggle {
  -moz-border-radius-topright: 4px;
  -webkit-border-top-right-radius: 4px;
  border-top-right-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  -webkit-border-bottom-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

/* line 76, ../../sass/library/button-groups.scss */
.btn-group > .btn.large:first-child {
  margin-left: 0;
  -moz-border-radius-topleft: 6px;
  -webkit-border-top-left-radius: 6px;
  border-top-left-radius: 6px;
  -moz-border-radius-bottomleft: 6px;
  -webkit-border-bottom-left-radius: 6px;
  border-bottom-left-radius: 6px;
}

/* line 82, ../../sass/library/button-groups.scss */
.btn-group > .btn.large:last-child,
.btn-group > .large.dropdown-toggle {
  -moz-border-radius-topright: 6px;
  -webkit-border-top-right-radius: 6px;
  border-top-right-radius: 6px;
  -moz-border-radius-bottomright: 6px;
  -webkit-border-bottom-right-radius: 6px;
  border-bottom-right-radius: 6px;
}

/* line 91, ../../sass/library/button-groups.scss */
.btn-group > .btn:hover,
.btn-group > .btn:focus,
.btn-group > .btn:active,
.btn-group > .btn.active {
  z-index: 2;
}

/* line 97, ../../sass/library/button-groups.scss */
.btn-group .dropdown-toggle:active,
.btn-group.open .dropdown-toggle {
  outline: 0;
}

/* line 107, ../../sass/library/button-groups.scss */
.btn-group > .btn + .dropdown-toggle {
  padding-left: 8px;
  padding-right: 8px;
  -webkit-box-shadow: inset 1px 0 0 rgba(255, 255, 255, 0.125), inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 1px 0 0 rgba(255, 255, 255, 0.125), inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 1px 0 0 rgba(255, 255, 255, 0.125), inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  *padding-top: 5px;
  *padding-bottom: 5px;
}

/* line 114, ../../sass/library/button-groups.scss */
.btn-group > .btn-mini + .dropdown-toggle {
  padding-left: 5px;
  padding-right: 5px;
  *padding-top: 2px;
  *padding-bottom: 2px;
}

/* line 120, ../../sass/library/button-groups.scss */
.btn-group > .btn-small + .dropdown-toggle {
  *padding-top: 5px;
  *padding-bottom: 4px;
}

/* line 124, ../../sass/library/button-groups.scss */
.btn-group > .btn-large + .dropdown-toggle {
  padding-left: 12px;
  padding-right: 12px;
  *padding-top: 7px;
  *padding-bottom: 7px;
}

/* line 135, ../../sass/library/button-groups.scss */
.btn-group.open .dropdown-toggle {
  background-image: none;
  -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
}
/* line 141, ../../sass/library/button-groups.scss */
.btn-group.open .btn.dropdown-toggle {
  background-color: #3a3a3a;
}
/* line 144, ../../sass/library/button-groups.scss */
.btn-group.open .btn-primary.dropdown-toggle {
  background-color: #42ace9;
}
/* line 147, ../../sass/library/button-groups.scss */
.btn-group.open .btn-warning.dropdown-toggle {
  background-color: #e9662c;
}
/* line 150, ../../sass/library/button-groups.scss */
.btn-group.open .btn-danger.dropdown-toggle {
  background-color: #6e0000;
}
/* line 153, ../../sass/library/button-groups.scss */
.btn-group.open .btn-success.dropdown-toggle {
  background-color: #51a351;
}
/* line 156, ../../sass/library/button-groups.scss */
.btn-group.open .btn-info.dropdown-toggle {
  background-color: #2f96b4;
}
/* line 159, ../../sass/library/button-groups.scss */
.btn-group.open .btn-inverse.dropdown-toggle {
  background-color: #434343;
}

/* line 166, ../../sass/library/button-groups.scss */
.btn .caret {
  margin-top: 8px;
  margin-left: 0;
}

/* line 173, ../../sass/library/button-groups.scss */
.btn-mini .caret,
.btn-small .caret,
.btn-large .caret {
  margin-top: 6px;
}

/* line 176, ../../sass/library/button-groups.scss */
.btn-large .caret {
  border-left-width: 5px;
  border-right-width: 5px;
  border-top-width: 5px;
}

/* line 182, ../../sass/library/button-groups.scss */
.dropup .btn-large .caret {
  border-bottom-width: 5px;
}

/* line 195, ../../sass/library/button-groups.scss */
.btn-primary .caret,
.btn-warning .caret,
.btn-danger .caret,
.btn-info .caret,
.btn-success .caret,
.btn-inverse .caret {
  border-top-color: #dcdcde;
  border-bottom-color: #dcdcde;
}

/* line 206, ../../sass/library/button-groups.scss */
.btn-group-vertical {
  display: inline-block;
  *display: inline;
  /* IE7 inline-block hack */
  *zoom: 1;
}

/* line 210, ../../sass/library/button-groups.scss */
.btn-group-vertical > .btn {
  display: block;
  float: none;
  max-width: 100%;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
}

/* line 216, ../../sass/library/button-groups.scss */
.btn-group-vertical > .btn + .btn {
  margin-left: 0;
  margin-top: -1px;
}

/* line 220, ../../sass/library/button-groups.scss */
.btn-group-vertical > .btn:first-child {
  -webkit-border-radius: 4px 4px 0 0;
  -moz-border-radius: 4px 4px 0 0;
  -ms-border-radius: 4px 4px 0 0;
  -o-border-radius: 4px 4px 0 0;
  border-radius: 4px 4px 0 0;
}

/* line 223, ../../sass/library/button-groups.scss */
.btn-group-vertical > .btn:last-child {
  -webkit-border-radius: 0 0 4px 4px;
  -moz-border-radius: 0 0 4px 4px;
  -ms-border-radius: 0 0 4px 4px;
  -o-border-radius: 0 0 4px 4px;
  border-radius: 0 0 4px 4px;
}

/* line 226, ../../sass/library/button-groups.scss */
.btn-group-vertical > .btn-large:first-child {
  -webkit-border-radius: 6px 6px 0 0;
  -moz-border-radius: 6px 6px 0 0;
  -ms-border-radius: 6px 6px 0 0;
  -o-border-radius: 6px 6px 0 0;
  border-radius: 6px 6px 0 0;
}

/* line 229, ../../sass/library/button-groups.scss */
.btn-group-vertical > .btn-large:last-child {
  -webkit-border-radius: 0 0 6px 6px;
  -moz-border-radius: 0 0 6px 6px;
  -ms-border-radius: 0 0 6px 6px;
  -o-border-radius: 0 0 6px 6px;
  border-radius: 0 0 6px 6px;
}
