/*
@mixin box-sizing {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*/
/* BOOTSTRAP MIXINS */
/* line 11, ../../sass/library/buttons.scss */
.btn {
  display: inline-block;
  *display: inline;
  /* IE7 inline-block hack */
  *zoom: 1;
  padding: 4px 12px;
  margin-bottom: 0;
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  *font-size: 10px;
  font-weight: 600;
  line-height: 20px;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  color: #848484;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0);
  background-color: #2e2e2e;
  background-image: -moz-linear-gradient(top, #3a3a3a, #1e1e1e);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#3a3a3a), to(#1e1e1e));
  background-image: -webkit-linear-gradient(top, #3a3a3a, #1e1e1e);
  background-image: -o-linear-gradient(top, #3a3a3a, #1e1e1e);
  background-image: linear-gradient(to bottom, #3a3a3a, #1e1e1e);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF3A3A3A', endColorstr='#FF1E1E1E', GradientType=0);
  border-color: #1e1e1e #1e1e1e black;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *background-color: #1e1e1e;
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  border: 1px solid #141414;
  *border: 0;
  border-bottom-color: black;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  *margin-left: .3em;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 2px rgba(0, 0, 0, 0);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 2px rgba(0, 0, 0, 0);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 2px rgba(0, 0, 0, 0);
}
/* line 602, ../../sass/framework/_mixins.scss */
.btn:hover, .btn:active, .btn.active, .btn.disabled, .btn[disabled] {
  color: #dcdcde;
  background-color: #1e1e1e;
  *background-color: #111111;
}
/* line 610, ../../sass/framework/_mixins.scss */
.btn:active, .btn.active {
  background-color: #040404 \9;
}
/* line 166, ../../sass/framework/_mixins.scss */
.btn:first-child {
  *margin-left: 0;
}
/* line 34, ../../sass/library/buttons.scss */
.btn:hover {
  color: #bcbbbc;
  text-decoration: none;
  background-position: 0 -5px;
  -webkit-transition: background-position 0.1s linear;
  -moz-transition: background-position 0.1s linear;
  -o-transition: background-position 0.1s linear;
  transition: background-position 0.1s linear;
}
/* line 45, ../../sass/library/buttons.scss */

/* line 51, ../../sass/library/buttons.scss */
.btn.active, .btn:active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
}
/* line 59, ../../sass/library/buttons.scss */
.btn.disabled, .btn[disabled] {
  cursor: default;
  background-image: none;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=6500);
  opacity: 65;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

/* line 74, ../../sass/library/buttons.scss */
.btn-large {
  padding: 1em 1.25em;
  font-size: 1.25em;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
}

/* line 80, ../../sass/library/buttons.scss */
.btn-large [class^="icon-"],
.btn-large [class*=" icon-"] {
  margin-top: 4px;
}

/* line 85, ../../sass/library/buttons.scss */
.btn-small {
  padding: 0.4em 0.8em;
  font-size: 0.85em;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}

/* line 91, ../../sass/library/buttons.scss */
.btn-small [class^="icon-"],
.btn-small [class*=" icon-"] {
  margin-top: 0;
}

/* line 95, ../../sass/library/buttons.scss */
.btn-mini [class^="icon-"],
.btn-mini [class*=" icon-"] {
  margin-top: -1px;
}

/* line 100, ../../sass/library/buttons.scss */
.btn-mini {
  padding: 0.4em 1em;
  font-size: 0.65em;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}

/* line 110, ../../sass/library/buttons.scss */
.btn-block {
  display: block;
  width: 100%;
  padding-left: 0;
  padding-right: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 119, ../../sass/library/buttons.scss */
.btn-block + .btn-block {
  margin-top: 5px;
}

/* line 127, ../../sass/library/buttons.scss */
input[type="submit"].btn-block,
input[type="reset"].btn-block,
input[type="button"].btn-block {
  width: 100%;
}

/* line 143, ../../sass/library/buttons.scss */
.btn-primary.active,
.btn-warning.active,
.btn-danger.active,
.btn-success.active,
.btn-info.active,
.btn-inverse.active {
  color: rgba(255, 255, 255, 0.75);
}

/* line 149, ../../sass/library/buttons.scss */
.btn {
  border-color: #141414;
  border-color: rgba(0, 0, 0, 0.6) rgba(0, 0, 0, 0.45) rgba(0, 0, 0, 0.65);
}

/* line 154, ../../sass/library/buttons.scss */
.btn-primary {
  color: white;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #2c85b9;
  background-image: -moz-linear-gradient(top, #42ace9, #0d4c71);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#42ace9), to(#0d4c71));
  background-image: -webkit-linear-gradient(top, #42ace9, #0d4c71);
  background-image: -o-linear-gradient(top, #42ace9, #0d4c71);
  background-image: linear-gradient(to bottom, #42ace9, #0d4c71);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF42ACE9', endColorstr='#FF0D4C71', GradientType=0);
  border-color: #0d4c71 #0d4c71 #051e2d;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *background-color: #0d4c71;
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  border: 1px solid #0e537a;
  border-bottom: 1px solid #09344d;
  color: #01355b;
  font-size: 11px;
  text-shadow: none;
}
/* line 602, ../../sass/framework/_mixins.scss */
.btn-primary:hover, .btn-primary:active, .btn-primary.active, .btn-primary.disabled, .btn-primary[disabled] {
  color: #dcdcde;
  background-color: #0d4c71;
  *background-color: #0a3d5a;
}
/* line 610, ../../sass/framework/_mixins.scss */
.btn-primary:active, .btn-primary.active {
  background-color: #082e44 \9;
}

/* line 163, ../../sass/library/buttons.scss */
.btn-secondary {
  color: white;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #d7ac5a;
  background-image: -moz-linear-gradient(top, #f3cf8b, #af7912);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f3cf8b), to(#af7912));
  background-image: -webkit-linear-gradient(top, #f3cf8b, #af7912);
  background-image: -o-linear-gradient(top, #f3cf8b, #af7912);
  background-image: linear-gradient(to bottom, #f3cf8b, #af7912);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFF3CF8B', endColorstr='#FFAF7912', GradientType=0);
  border-color: #af7912 #af7912 #6a490b;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *background-color: #af7912;
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  border: 1px solid #c68914;
  border-bottom: 1px solid #986910;
  color: #171717;
  font-size: 11px;
  text-shadow: none;
}
/* line 602, ../../sass/framework/_mixins.scss */
.btn-secondary:hover, .btn-secondary:active, .btn-secondary.active, .btn-secondary.disabled, .btn-secondary[disabled] {
  color: #dcdcde;
  background-color: #af7912;
  *background-color: #986910;
}
/* line 610, ../../sass/framework/_mixins.scss */
.btn-secondary:active, .btn-secondary.active {
  background-color: #81590d \9;
}
/* line 170, ../../sass/library/buttons.scss */
.btn-secondary:hover {
  color: #212121;
}

/* line 173, ../../sass/library/buttons.scss */
.btn-cancel {
  color: white;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #ebaf3c;
  background-image: -moz-linear-gradient(top, #ebaf3c, #ebaf3c);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ebaf3c), to(#ebaf3c));
  background-image: -webkit-linear-gradient(top, #ebaf3c, #ebaf3c);
  background-image: -o-linear-gradient(top, #ebaf3c, #ebaf3c);
  background-image: linear-gradient(to bottom, #ebaf3c, #ebaf3c);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFEBAF3C', endColorstr='#FFEBAF3C', GradientType=0);
  border-color: #ebaf3c #ebaf3c #c68914;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *background-color: #ebaf3c;
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  border: 1px solid #c68914;
  border-bottom: 1px solid #986910;
  color: #171717;
  text-shadow: none;
}
/* line 602, ../../sass/framework/_mixins.scss */
.btn-cancel:hover, .btn-cancel:active, .btn-cancel.active, .btn-cancel.disabled, .btn-cancel[disabled] {
  color: #dcdcde;
  background-color: #ebaf3c;
  *background-color: #e9a625;
}
/* line 610, ../../sass/framework/_mixins.scss */
.btn-cancel:active, .btn-cancel.active {
  background-color: #dd9917 \9;
}
/* line 179, ../../sass/library/buttons.scss */
.btn-cancel:hover {
  color: #212121;
}

/* line 183, ../../sass/library/buttons.scss */
.btn-warning {
  color: white;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #ed8455;
  background-image: -moz-linear-gradient(top, #f09871, #e9662c);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f09871), to(#e9662c));
  background-image: -webkit-linear-gradient(top, #f09871, #e9662c);
  background-image: -o-linear-gradient(top, #f09871, #e9662c);
  background-image: linear-gradient(to bottom, #f09871, #e9662c);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFF09871', endColorstr='#FFE9662C', GradientType=0);
  border-color: #e9662c #e9662c #b64513;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *background-color: #e9662c;
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}
/* line 602, ../../sass/framework/_mixins.scss */
.btn-warning:hover, .btn-warning:active, .btn-warning.active, .btn-warning.disabled, .btn-warning[disabled] {
  color: #dcdcde;
  background-color: #e9662c;
  *background-color: #e45618;
}
/* line 610, ../../sass/framework/_mixins.scss */
.btn-warning:active, .btn-warning.active {
  background-color: #cd4e15 \9;
}

/* line 187, ../../sass/library/buttons.scss */
.btn-danger {
  color: white;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #870000;
  background-image: -moz-linear-gradient(top, #980000, #6e0000);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#980000), to(#6e0000));
  background-image: -webkit-linear-gradient(top, #980000, #6e0000);
  background-image: -o-linear-gradient(top, #980000, #6e0000);
  background-image: linear-gradient(to bottom, #980000, #6e0000);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF980000', endColorstr='#FF6E0000', GradientType=0);
  border-color: #6e0000 #6e0000 #220000;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *background-color: #6e0000;
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}
/* line 602, ../../sass/framework/_mixins.scss */
.btn-danger:hover, .btn-danger:active, .btn-danger.active, .btn-danger.disabled, .btn-danger[disabled] {
  color: #dcdcde;
  background-color: #6e0000;
  *background-color: #550000;
}
/* line 610, ../../sass/framework/_mixins.scss */
.btn-danger:active, .btn-danger.active {
  background-color: #3b0000 \9;
}

/* line 191, ../../sass/library/buttons.scss */
.btn-success {
  color: white;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #5bb65b;
  background-image: -moz-linear-gradient(top, #62c462, #51a351);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#62c462), to(#51a351));
  background-image: -webkit-linear-gradient(top, #62c462, #51a351);
  background-image: -o-linear-gradient(top, #62c462, #51a351);
  background-image: linear-gradient(to bottom, #62c462, #51a351);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF62C462', endColorstr='#FF51A351', GradientType=0);
  border-color: #51a351 #51a351 #387038;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *background-color: #51a351;
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}
/* line 602, ../../sass/framework/_mixins.scss */
.btn-success:hover, .btn-success:active, .btn-success.active, .btn-success.disabled, .btn-success[disabled] {
  color: #dcdcde;
  background-color: #51a351;
  *background-color: #499249;
}
/* line 610, ../../sass/framework/_mixins.scss */
.btn-success:active, .btn-success.active {
  background-color: #408140 \9;
}

/* line 195, ../../sass/library/buttons.scss */
.btn-info {
  color: white;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #49afcd;
  background-image: -moz-linear-gradient(top, #5bc0de, #2f96b4);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#5bc0de), to(#2f96b4));
  background-image: -webkit-linear-gradient(top, #5bc0de, #2f96b4);
  background-image: -o-linear-gradient(top, #5bc0de, #2f96b4);
  background-image: linear-gradient(to bottom, #5bc0de, #2f96b4);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF5BC0DE', endColorstr='#FF2F96B4', GradientType=0);
  border-color: #2f96b4 #2f96b4 #1f6377;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *background-color: #2f96b4;
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}
/* line 602, ../../sass/framework/_mixins.scss */
.btn-info:hover, .btn-info:active, .btn-info.active, .btn-info.disabled, .btn-info[disabled] {
  color: #dcdcde;
  background-color: #2f96b4;
  *background-color: #2a85a0;
}
/* line 610, ../../sass/framework/_mixins.scss */
.btn-info:active, .btn-info.active {
  background-color: #24748c \9;
}

/* line 199, ../../sass/library/buttons.scss */
.btn-inverse {
  color: white;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #434343;
  background-image: -moz-linear-gradient(top, #444444, #434343);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#444444), to(#434343));
  background-image: -webkit-linear-gradient(top, #444444, #434343);
  background-image: -o-linear-gradient(top, #444444, #434343);
  background-image: linear-gradient(to bottom, #444444, #434343);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF444444', endColorstr='#FF434343', GradientType=0);
  border-color: #434343 #434343 #1d1d1d;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *background-color: #434343;
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}
/* line 602, ../../sass/framework/_mixins.scss */
.btn-inverse:hover, .btn-inverse:active, .btn-inverse.active, .btn-inverse.disabled, .btn-inverse[disabled] {
  color: #dcdcde;
  background-color: #434343;
  *background-color: #363636;
}
/* line 610, ../../sass/framework/_mixins.scss */
.btn-inverse:active, .btn-inverse.active {
  background-color: #2a2a2a \9;
}

/* line 208, ../../sass/library/buttons.scss */
button.btn,
input[type="submit"].btn {
  *padding-top: 3px;
  *padding-bottom: 3px;
}
/* line 211, ../../sass/library/buttons.scss */
button.btn::-moz-focus-inner,
input[type="submit"].btn::-moz-focus-inner {
  padding: 0;
  border: 0;
}
/* line 220, ../../sass/library/buttons.scss */
button.btn.btn-large,
input[type="submit"].btn.btn-large {
  *padding-top: 7px;
  *padding-bottom: 7px;
}
/* line 224, ../../sass/library/buttons.scss */
button.btn.btn-small,
input[type="submit"].btn.btn-small {
  *padding-top: 3px;
  *padding-bottom: 3px;
}
/* line 228, ../../sass/library/buttons.scss */
button.btn.btn-mini,
input[type="submit"].btn.btn-mini {
  *padding-top: 1px;
  *padding-bottom: 1px;
}

/* line 241, ../../sass/library/buttons.scss */
.btn-link,
.btn-link:active,
.btn-link[disabled] {
  background-color: transparent;
  background-image: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

/* line 246, ../../sass/library/buttons.scss */
.btn-link {
  border-color: transparent;
  cursor: pointer;
  color: #1681bf;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
}

/* line 252, ../../sass/library/buttons.scss */
.btn-link:hover {
  color: #0e537a;
  text-decoration: underline;
  background-color: transparent;
}

/* line 257, ../../sass/library/buttons.scss */
.btn-link[disabled]:hover {
  color: #434343;
  text-decoration: none;
}

/* line 263, ../../sass/library/buttons.scss */
.btn.delete {
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  -o-border-radius: 0px;
  border-radius: 0px;
  display: block;
  margin-top: 18px;
  color: #848484;
}

/* line 264, ../../sass/library/buttons.scss */
.btn.delete:hover {
  color: white;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #870000;
  background-image: -moz-linear-gradient(top, #980000, #6e0000);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#980000), to(#6e0000));
  background-image: -webkit-linear-gradient(top, #980000, #6e0000);
  background-image: -o-linear-gradient(top, #980000, #6e0000);
  background-image: linear-gradient(to bottom, #980000, #6e0000);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF980000', endColorstr='#FF6E0000', GradientType=0);
  border-color: #6e0000 #6e0000 #220000;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *background-color: #6e0000;
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}
/* line 602, ../../sass/framework/_mixins.scss */
.btn.delete:hover:hover, .btn.delete:hover:active, .btn.delete:hover.active, .btn.delete:hover.disabled, .btn.delete:hover[disabled] {
  color: #dcdcde;
  background-color: #6e0000;
  *background-color: #550000;
}
/* line 610, ../../sass/framework/_mixins.scss */
.btn.delete:hover:active, .btn.delete:hover.active {
  background-color: #3b0000 \9;
}

/* line 265, ../../sass/library/buttons.scss */
.prefix, .postfix {
  display: block;
  position: relative;
  z-index: 2;
  text-align: left;
  width: 100%;
  padding-top: 0;
  padding-bottom: 0;
  height: 25px;
  line-height: 25px;
}

/* line 275, ../../sass/library/buttons.scss */
.btn.prefix, .btn.postfix {
  padding-left: 0;
  padding-right: 0;
  text-align: center;
}

/* line 279, ../../sass/library/buttons.scss */
span.prefix, span.postfix {
  background: #cfcfd2;
  border: 1px solid #a8a8ad;
}

/* line 283, ../../sass/library/buttons.scss */
.prefix {
  left: 2px;
  -moz-border-radius-topleft: 4px;
  -webkit-border-top-left-radius: 4px;
  border-top-left-radius: 4px;
  -moz-border-radius-bottomleft: 4px;
  -webkit-border-bottom-left-radius: 4px;
  border-bottom-left-radius: 4px;
  -moz-border-radius-topright: 0px;
  -webkit-border-top-right-radius: 0px;
  border-top-right-radius: 0px;
  -moz-border-radius-bottomright: 0px;
  -webkit-border-bottom-right-radius: 0px;
  border-bottom-right-radius: 0px;
  overflow: hidden;
}

/* line 290, ../../sass/library/buttons.scss */
.postfix {
  right: 2px;
  -moz-border-radius-topright: 4px;
  -webkit-border-top-right-radius: 4px;
  border-top-right-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  -webkit-border-bottom-right-radius: 4px;
  border-bottom-right-radius: 4px;
  -moz-border-radius-topleft: 0px;
  -webkit-border-top-left-radius: 0px;
  border-top-left-radius: 0px;
  -moz-border-radius-bottomleft: 0px;
  -webkit-border-bottom-left-radius: 0px;
  border-bottom-left-radius: 0px;
}
