/*
@mixin box-sizing {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*/
/* BOOTSTRAP MIXINS */
/* line 3, ../../sass/library/checkboxes.scss */
.checkbox, .checkbox-light, .radio, .radio-light {
  background: url('/galepress/img/checkbox/square.png?1362760365') 0 0 no-repeat;
  color: #848484;
  cursor: pointer;
  padding: 1px 0 3px 25px;
  position: relative;
  font-size: 11px;
  font-weight: bold;
  line-height: 15px;
}
/* line 13, ../../sass/library/checkboxes.scss */
.checkbox:hover, .checkbox-light:hover, .radio:hover, .radio-light:hover {
  background-position: 0 -26px;
  color: white;
}
/* line 17, ../../sass/library/checkboxes.scss */
.checkbox.checked, .checked.checkbox-light, .checked.radio, .checked.radio-light {
  background-position: 0 -53px;
}
/* line 19, ../../sass/library/checkboxes.scss */
.checkbox.checked:hover, .checked.checkbox-light:hover, .checked.radio:hover, .checked.radio-light:hover {
  background-position: 0 -80px;
}

/* line 26, ../../sass/library/checkboxes.scss */
.checkbox-light {
  background-image: url('/galepress/img/checkbox/square-light.png?1332136382');
}

/* line 32, ../../sass/library/checkboxes.scss */
.radio {
  background-image: url('/galepress/img/checkbox/disk.png?1362760198');
}

/* line 38, ../../sass/library/checkboxes.scss */
.radio-light {
  background-image: url('/galepress/img/checkbox/disk-light.png?1332136382');
}

/* line 44, ../../sass/library/checkboxes.scss */
.form-row {
  background: url('/galepress/img/checkbox/form-row.png?1332136382') 0 100% repeat-x;
  margin-bottom: 7px;
  padding-bottom: 7px;
}
/* line 48, ../../sass/library/checkboxes.scss */
.form-row.last {
  background: none;
  margin-bottom: 0;
  padding-bottom: 0;
}
