# Apache configuration file
# http://httpd.apache.org/docs/2.2/mod/quickreference.html

# Note: ".htaccess" files are an overhead for each request. This logic should
# be placed in your Apache config whenever possible.
# http://httpd.apache.org/docs/2.2/howto/htaccess.html

# Turning on the rewrite engine is necessary for the following rules and
# features. "+FollowSymLinks" must be enabled for this to work symbolically.

#ForceType application/octet-stream
#<FilesMatch "(?i)\.(gif|jpe?g|png)$">
#	ForceType none
#</FilesMatch>

# For all files not found in the file system, reroute the request to the
# "index.php" front controller, keeping the query string intact

<IfModule mod_rewrite.c>
	
	Options +FollowSymLinks
	RewriteEngine On
	RewriteBase /
	
	SetEnv downgrade-1.0
	RewriteRule . - [E=no-gzip:1]

	#RewriteRule ^soap$ /tr/soap [P]
	#Redirect 301  /soap.php /tr/soap/
	#Redirect 301 /soap.php /tr/soap [NC,P]

	#RewriteCond %{REQUEST_URI} /soap.php
	#RewriteRule (.*) $/soap1 [L]

	#RewriteCond %{REQUEST_URI} ^/soap.php [NC]
	#RewriteRule ^(.*)$ http://v2.galepress.com/tr/soap [R=301,NC]

	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteRule ^(.*)$ index.php/$1 [L]
</IfModule>
