.templateScreen .header{
    background:#1E1E20 !important;
    border-bottom: 1px solid #1c1c1c !important;
}
.templateScreen > .container{
    background: #1E1E20 !important;
    border-top: 1px solid #1c1c1c !important;
}
.templateScreen > .container .content-bar{
    background: rgba(30,30,32,0.7) !important;
}
.templateScreen .footer{
    background: rgba(30,30,32,0.9) !important;
}
/*************************************************/
.templateReadScreen{
    background: #1E1E20 !important;
    border-bottom: 10px solid #1E1E20 !important;
}
.templateReadScreen .content-buttons input:hover{
    background: #000 !important;
}
/********************************************************/
.templateContentScreen .header{
    background: rgba(30,30,32,0.9) !important;
}
.templateContentScreen .footer{
    background: rgba(30,30,32,0.9) !important;
}
.templateContentScreen .thumbnails{
    background: rgba(30,30,32,0.9) !important;
}
.templateExtrasScreen{
    background: rgba(30,30,32,0.9) !important;
}
/*.templateExtrasScreen .container{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
}
.templateExtrasScreen .container .form-row{
    position: absolute;
    height: 100%;
    right: 0;
}
.templateExtrasScreen .social-icons{
    background: url(/img/template-chooser/social-icons-blue.png) center top;
    background-size: 60% auto !important;
    background-repeat: no-repeat !important;
    height: 100%;
}*/