.templateScreen .header{
    color: #E2B705 !important;
}
.templateScreen > .container .content-bar{
    color: #E2B705 !important;
}
.templateScreen .app-name{
    color:#E2B705 !important;
}
.templateScreen .app-buttons{
    color:#E2B705 !important;
}
.templateScreen .header .header-categories{
    background: url(/img/template-chooser/menu5.png) center left;
}
.templateScreen .header .header-extras{
    background: url(/img/template-chooser/header-extras-yellow.png) center right;
}
.templateScreen .footer .footer-home{
    background: url(/img/template-chooser/home_selected5.png) center center;
}
.templateScreen .footer .footer-library{
    background: url(/img/template-chooser/library_selected5.png) center center;
}
.templateScreen .footer .footer-download{
    background: url(/img/template-chooser/download_selected5.png) center center;
}
.templateScreen .footer .footer-info{
    background: url(/img/template-chooser/info_selected5.png) center center;
}
/*************************************************/
.templateExtrasScreen{
    background: #E2B705 !important;
}
.templateExtrasScreen .container .form-row.extrasBar{
    color:#E2B705 !important;
}
.templateExtrasScreen .container .form-row.extrasBar.categories .extra-bar-icon{
    background: url(/img/template-chooser/left_menu_category_icon5.png) left center;
}
.templateExtrasScreen .container .form-row.extrasBar .title-drop{
    background: url(/img/template-chooser/left_menu_down5.png) right center;
}
.templateExtrasScreen .container .form-row.extrasBar.barLinks .extra-bar-icon{
    background: url(/img/template-chooser/left_menu_link5.png) left center;
}
/*************************************************/
.templateReadScreen{
    color: #E2B705 !important;
}
.templateReadScreen .content-buttons input{
    color: #E2B705 !important;
    border: 1px solid #E2B705 !important;
}
.templateReadScreen .loading{
    background: #E2B705 !important;
}
/********************************************************/
.templateContentScreen div{
    color: #E2B705 !important;
}
.templateContentScreen .triangle span{
    color: white !important;
}
.templateContentScreen .app-buttons{
    color:#E2B705 !important;
}
.templateContentScreen .thumbnails{
    border-top: 3px solid #E2B705 !important;
}
.templateContentScreen .triangle{
    border-color: #E2B705 transparent transparent transparent !important;
}
.templateContentScreen .header .header-table-of-contents{
    background: url(/img/template-chooser/reader_menu5.png) left center;
}
.templateContentScreen .header .header-share{
    background: url(/img/template-chooser/reader_share5.png) right center;
}
.templateContentScreen .footer .footer-home{
    background: url(/img/template-chooser/home_selected5.png) center center;
}
.templateContentScreen .footer .footer-library{
    background: url(/img/template-chooser/library_selected5.png) center center;
}
.templateContentScreen .footer .footer-download{
    background: url(/img/template-chooser/download_selected5.png) center center;
}
.templateContentScreen .footer .footer-info{
    background: url(/img/template-chooser/info_selected5.png) center center;
}