/****************MASTER**********************/
.templateScreen{
    width: 100%;
    height: 100%;
}
.templateScreen div{
    text-shadow:none !important;
    font-family: "Open Sans" !important;
}
.templateScreen .header{
    font-size: 10px;
    background:#1E1E20;
    padding: 3px 10px;
    border-bottom: 1px solid #1c1c1c;
    color: #2185C5;
    height: 28px;
}
.templateScreen .header .header-categories{
    background: url(/img/template-chooser/menu1.png) center left;
    background-size: 60% auto !important;
    background-repeat: no-repeat !important; height:21px;
    cursor: pointer;
}
.templateScreen .header .header-extras{
    background: url(/img/template-chooser/header-extras-blue.png) center right;
    background-size: 60% auto !important;
    background-repeat: no-repeat !important; height:22px;
}
.templateScreen > .container{
    height: 100%;
    background: #1E1E20;
    border-top: 1px solid #1c1c1c;
    padding-left: 5px;
    padding-right: 5px;
}

.templateScreen > .container img{
    cursor: pointer;
}

.templateScreen > .container .form-row{
    margin-top: -1px;
}

.templateScreen > .container .form-row [class*="col-"]{
    text-align: center;
    cursor: pointer;
}

.templateScreen > .container .form-row [class*="col-"]:nth-child(n+4){
    margin-top: 7px;
}

.templateScreen .container [class*="col-"] {
    padding-left: 0;
    padding-right: 0;
    line-height: 15px;
    font-size: 1.1em;
}

.templateScreen .container [class*="col-"]:hover{
    opacity: 0.5;
}

.templateScreen > .container .content-bar{
    font-size: 0.5em;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 30%;
    color: #2185C5;
    background: rgba(30,30,32,0.85);
    overflow: hidden;
}
.templateScreen .container .content-bar [class*="col-"]:nth-child(2){
    font-weight: bold;
    font-size:1.2em;
}
.templateScreen > .container .content-bar [class*="col-"]{
    text-align: left;
    height:33%; left:5%; overflow:hidden;
}
.templateScreen .footer{
    background: rgba(30,30,32,0.9);
    /*border-top: 1px solid #141414;*/
    width: 100%;
    height: 28px;
    position: absolute;
    bottom: 0;
}
.templateScreen .footer .footer-home{
    background: url(/img/template-chooser/home_selected1.png) center center;
    background-size: 35% auto !important;
    background-repeat: no-repeat !important; height:100%;
    cursor: pointer !important;
}
.templateScreen .footer .footer-library{
    background: url(/img/template-chooser/library_selected1.png) center center;
    background-size: 35% auto !important;
    background-repeat: no-repeat !important; height:100%;
}
.templateScreen .footer .footer-download{
    background: url(/img/template-chooser/download_selected1.png) center center;
    background-size: 35% auto !important;
    background-repeat: no-repeat !important; height:100%;
}
.templateScreen .footer .footer-info{
    background: url(/img/template-chooser/info_selected1.png) center center;
    background-size: 10% auto !important;
    background-repeat: no-repeat !important; height:100%;
}
.templateScreen .app-name{
    color:#2185C5;
    font-size: 1.5em;
    height: 22px;
    line-height: 24px;
}
.templateScreen .footer-buttons{
    display: inline-block;
    width: 75%;
    height: 28px;
}
.templateScreen .app-buttons{
    font-size: 1.5em;
    cursor: pointer;
    color:#2185C5;
}
/*************************************************/
.templateReadScreen{
    position: absolute;
    top: 10%;
    left: 9%;
    color: #2185C5;
    background: #1E1E20;
    width: 82%;
    height: 83%;
    overflow: hidden;
    border-bottom: 10px solid #1E1E20;
}
.templateReadScreen div{
    font-family: "Open Sans" !important;
    text-shadow: none;
}
.templateReadScreen p{
    font-size: 0.8em;
    line-height: 13px;
}
.templateReadScreen p:nth-child(2){
    font-size: 0.9em;
    font-weight: bold;
}
.templateReadScreen .content-buttons{
    padding: 0;
}
.templateReadScreen .content-buttons input{
    width: 100%;
    font-size: 0.65em;
    padding: 0;
    height: 23px;
    line-height: 23px;
    background: transparent;
    border: 1px solid #2185C5;
    color: #2185C5;
    border-radius: 5px;
    margin-top: -11px;
}

.templateReadScreen .content-buttons input:hover{
    background: rgba(0,0,0,0.2) !important;
}

.templateReadScreen .container > .form-row{
    margin-top: 0;
}

.templateReadScreen .container .form-row{
    margin-bottom: 0;
}

.templateReadScreen .container .form-row .form-row{
    margin-top: -2px;
}

.templateReadScreen .container {
    padding-left: 10px;
    padding-right: 10px;
}

.templateReadScreen .container [class*="col-"] {
    padding-left: 0;
    padding-right: 0;
}
.templateReadScreen .loading{
    height: 3px;
    width: 90%;
    background: #2185C5;
}
.templateReadScreen #loading-text{
    float: left;
    margin-left: 3px;
    margin-top: -10px;
    font-size: 0.7em;
}
.templateReadScreen #loading-text i{
    font-size: 12px;
}
/********************************************************/
.templateContentScreen div{
    color: #2185C5;
    font-weight: bold;
    text-shadow:none !important;
    font-family: "Open Sans" !important;
}
.templateContentScreen .header img{
    cursor: pointer;
}
.templateContentScreen .header{
    position: absolute;
    z-index: 1;
    background: rgba(30,30,32,0.9);
    top: 0;
    width: 100%;
}
.templateContentScreen .header .header-table-of-contents{
    background: url(/img/template-chooser/reader_menu1.png) left center;
    background-size: 70% auto !important;
    background-repeat: no-repeat !important; height:30px;
}
.templateContentScreen .header .header-share{
    background: url(/img/template-chooser/reader_share1.png) right center;
    background-size: 44% auto !important;
    background-repeat: no-repeat !important; height:30px;
}
.templateContentScreen .content-page{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}
.templateContentScreen .footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 28px;
    background: rgba(30,30,32,0.9);
}
.templateContentScreen .footer img{
    vertical-align: middle;
    cursor: pointer;
}
.templateContentScreen .thumbnails{
    background: rgba(30,30,32,0.9);
    border-top: 3px solid #2185C5;
    height: 70px;
    position: absolute;
    bottom: 28px;
    overflow: hidden;
}
.templateContentScreen .footer-buttons{
    display: inline-block;
    width: 75%;
    height: 28px;
}
.templateContentScreen .thumbnails img{
    width: 100%;
}
.templateContentScreen .thumbnails [class*="col-"]{
    height: 100%;
    padding: 0;
}
.templateContentScreen .triangle{
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 16px 15px 0 25px;
    border-color: #2185C5 transparent transparent transparent;
    position: absolute;
    z-index: 1;
    left: 42%;
}
.templateContentScreen .triangle span{
    position: absolute;
    margin-top: -25px;
    margin-left: -9px;
    font-size: 0.6em;
    color: white;
}
.templateContentScreen .footer-buttons{
    display: inline-block;
      width: 75%;
      height: 28px;
}
.templateContentScreen .footer .footer-home{
    background: url(/img/template-chooser/home_selected1.png) center center;
    background-size: 35% auto !important;
    background-repeat: no-repeat !important; height:100%;
    cursor: pointer !important;
}
.templateContentScreen .footer .footer-library{
    background: url(/img/template-chooser/library_selected1.png) center center;
    background-size: 35% auto !important;
    background-repeat: no-repeat !important; height:100%;
}
.templateContentScreen .footer .footer-download{
    background: url(/img/template-chooser/download_selected1.png) center center;
    background-size: 35% auto !important;
    background-repeat: no-repeat !important; height:100%;
}
.templateContentScreen .footer .footer-info{
    background: url(/img/template-chooser/info_selected1.png) center center;
    background-size: 10% auto !important;
    background-repeat: no-repeat !important; height:100%;
}
.templateContentScreen .app-buttons{
    font-size: 1.2em;
    padding: 0px 10px;
    cursor: pointer;
    color:#2185C5;
}
/*MODAL CONTENT*/
#modalTemplateChooser .modal-body{
    border:none !important;
}
#modalTemplateChooser .modal-content{
    position: relative;
    background: transparent !important;
    background-color: none !important;
    border: none !important;
    border-radius: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    background-clip: none !important;
    outline: none !important;
}
.blurred{
 -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
}
#modalTemplateChooser .modal-backdrop{
    /*background-image: url('/img/template-chooser/background-overlay.png');*/
    background-color: none !important;
}
#modalTemplateChooser .modal-backdrop.in{
    opacity: 0.4;
    filter: alpha(opacity=40);
}
/********************************************************************************/
#templateChooserBox .site-settings .site-settings-content{
    width: 250px !important;
}
#templateChooserBox .site-settings{
    top:75px;
}
.device-mockup[data-device="ipad"] > .device > .screen, .device-mockup[data-device="ipad"][data-orientation="portrait"] > .device > .screen {
  top: 11.37% !important;
  bottom: 11.4% !important;
  left: 13.6% !important;
  right: 14% !important;
}
/************************EXTRAS-PANEL*****************************/
.templateExtrasScreen{
    position: absolute;
    top: 0;
    left: 0;
    width: 75%;
    height: 100%;
}
.templateExtrasScreen div{
    text-shadow: none !important;
}
.templateExtrasScreen .container{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    padding-left: 0px;
    padding-right: 0px;
    overflow-y:scroll; 
}
.templateExtrasScreen .container ul{
    padding: 0; 
}
.templateExtrasScreen > .container .form-row [class*="col-md-8"]{
    padding: 0;
}
.templateExtrasScreen .container input{
    border-radius: 40px;
}
.templateExtrasScreen li .category-active{
    background: url(/img/template-chooser/category_select_light.png) center 5px;
    background-size: 60% auto !important;
    background-repeat: no-repeat !important;
    height: 30px;
    width: 30px;
    display: inline-block;
    vertical-align: middle;
}
.templateExtrasScreen li .category-active + span{
   opacity: 0.65;
}
.templateExtrasScreen li .category-disable{
    background: none;
    height: 30px;
    width: 30px;
    display: inline-block;
    vertical-align: middle;
}
.templateExtrasScreen li .category-disable + span{
   opacity: 1;
}
.templateExtrasScreen .links{
    background-size: 60% auto !important;
    background-repeat: no-repeat !important;
    height: 30px;
    width: 30px;
    display: inline-block;
    vertical-align: middle;
}
.templateExtrasScreen .links.links-web{
    background: url(/img/template-chooser/web.png) center 5px;
}
.templateExtrasScreen .links.links-face{
    background: url(/img/template-chooser/facebook_light.png) center 5px;
}
.templateExtrasScreen .links.links-twitter{
    background: url(/img/template-chooser/twitter.png) center 5px;
}
.templateExtrasScreen .links.links-instagram{
    background: url(/img/template-chooser/instagram_light.png) center 5px;
}
.templateExtrasScreen .links.links-linkedin{
    background: url(/img/template-chooser/linkedin_light.png) center 5px;
}
.templateExtrasScreen .links.links-mail{
    background: url(/img/template-chooser/mail_light.png) center 5px;
}
.templateExtrasScreen .container .input-group-addon{
    background: rgba(0,0,0,0.2);
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
}
.templateExtrasScreen .container .form-control::-webkit-input-placeholder {
   color: white !important;
   opacity: 1 !important;
}

.templateExtrasScreen .container form-control:-moz-placeholder { /* Firefox 18- */
   color: white !important;
   opacity: 1 !important;  
}

.templateExtrasScreen .container form-control::-moz-placeholder {  /* Firefox 19+ */
   color: white !important;
   opacity: 1 !important;  
}

.templateExtrasScreen .container form-control:-ms-input-placeholder {  
   color: white !important;
   opacity: 1 !important;  
}
.templateExtrasScreen .container .form-row ul li span,li{
    cursor: pointer;
}
.templateExtrasScreen .container .form-row.extrasBar.categories .extra-bar-icon{
    background: url(/img/template-chooser/left_menu_category_icon1.png) left center;
    background-size: 74% auto !important;
    background-repeat: no-repeat !important; height:30px;
}
.templateExtrasScreen .container .form-row.extrasBar .title-drop{
    background: url(/img/template-chooser/left_menu_down1.png) right center;
    background-size: 74% auto !important;
    background-repeat: no-repeat !important; height:30px;
    cursor: pointer;
}
.templateExtrasScreen .container .form-row.extrasBar.barLinks .extra-bar-icon{
    background: url(/img/template-chooser/left_menu_link1.png) left center;
    background-size: 74% auto !important;
    background-repeat: no-repeat !important; height:30px;
}
/**************************************/
@media (max-width: 767px) {
   .templateScreen .footer .col-xs-offset-2{
    margin-left: 15%;
   }
   .templateContentScreen .footer .col-xs-offset-2{
    margin-left: 15%;
   }
}
/**************************************/
.panelClose{
    height: 1px;
    overflow: hidden;
}