/* Iphone Yatay */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : landscape) { 
.navbar-fixed-top,
.navbar-fixed-bottom {
  position: absolute;
  right: 0;
  left: 0;
  z-index: 1030;
}
}

/* Iphone Dikey */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : portrait) { 
.navbar-fixed-top,
.navbar-fixed-bottom {
  position: absolute;
  right: 0;
  left: 0;
  z-index: 1030;
}
.rowLib {
  margin-left: -8px;
}
}

/* Ipad */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
.icon-arrow-left:before { display: none; }
.icon-arrow-right:before { display: none; }
}

/* Ipad - Yatay */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) { 
.rowLib {
  margin-left: -25px;
}
}

/* Ipad - Dikey */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
.ms-partialview-template {
  height: 530px;
}
}

/* Ipad Mini - Dikey */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio: 2) { 

}

/* Ipad Mini - Yatay */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio: 2) { 

}

@media only screen and (min-width : 321px) {
.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 200px;
  padding: 5px 0;
  margin: 2px -75px 0;
  font-size: 14px;
  list-style: none;
  background-color: rgba(240,240,240,0.9);
  background-clip: padding-box;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, .15);
  border-radius: 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
          box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
          text-align: left;
}

.dropdown-menu:after {
content: "";
width: 0;
height: 0;
position: absolute;
bottom: 100%;
right: 97px;
border-width: 0 6px 6px 6px;
border-style: solid;
border-color: rgba(240,240,240,0.9) transparent;
}
.navbar-collapse.in {
  overflow-y: visible;
}
}

@media only screen and (max-device-width: 480px), only screen and (min-device-width: 560px) and (max-device-width: 1136px) and (-webkit-min-device-pixel-ratio: 2) {
.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 200px;
  padding: 5px 0;
  margin: 2px -66px 0;
  font-size: 14px;
  list-style: none;
  background-color: rgba(240,240,240,0.9);
  background-clip: padding-box;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, .15);
  border-radius: 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
          box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
          text-align: left;

}
.dropdown-menu:after {
content: "";
width: 0;
height: 0;
position: absolute;
bottom: 100%;
right: 90px;
border-width: 0 6px 6px 6px;
border-style: solid;
border-color: rgba(240,240,240,0.9) transparent;
}
.navbar-collapse.in {
  overflow-y: visible;
}
.icon-arrow-left:before { display: none; }
.icon-arrow-right:before { display: none; }
}

@media only screen and (max-width: 1007px){
.rowLib {
  width: 655px;
}
}
@media only screen and (max-width: 668px){
.rowLib {
  width: 325px;
}
}

@media only screen and (max-width: 500px){
.navbar-fixed-top,
.navbar-fixed-bottom {
  position: absolute;
  right: 0;
  left: 0;
  z-index: 1030;
  min-width: 340px;
}
}
@media only screen and (max-width: 780px){
#categories{
  left: -31px;
}
}
/*Windows Phone*/
@-Ms-viewport {
  width:device-width;
}
@-webkit-viewport{width:device-width}
@-moz-viewport{width:device-width}
@-ms-viewport{width:device-width}
@-o-viewport{width:device-width}
@viewport{width:device-width}

@media screen and (orientation:portrait) {
    @-ms-viewport { width: 720px; }
}
@media screen and (orientation:landscape) {
    @-ms-viewport { width: 1280px; }
}