/*
@mixin box-sizing {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*/
/* BOOTSTRAP MIXINS */
/* line 7, ../../sass/modules/slideshow.scss */
.slideshow {
  width: 100%;
}

/* line 10, ../../sass/modules/slideshow.scss */
.slideshow .slideshow-slides-wrapper {
  height: 60px;
  width: 100%;
}

/* line 14, ../../sass/modules/slideshow.scss */
.slideshow .each-slide {
  height: 60px;
  width: 58px;
}

/* line 16, ../../sass/modules/slideshow.scss */
.slideshow {
  display: inline-block;
  position: relative;
}
/* line 19, ../../sass/modules/slideshow.scss */
.slideshow .slideshow-slides-wrapper {
  overflow: hidden;
  position: relative;
}
/* line 23, ../../sass/modules/slideshow.scss */
.slideshow .slideshow-slides {
  position: absolute;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}
/* line 27, ../../sass/modules/slideshow.scss */
.slideshow .each-slide {
  background-position: center;
  background-repeat: no-repeat;
  float: left;
  position: relative;
  overflow: hidden;
}
/* line 35, ../../sass/modules/slideshow.scss */
.slideshow .show-slide {
  /*background: image-url("slideshow/prev.png") 0 0 no-repeat;*/
  cursor: pointer;
  height: 22px;
  margin-top: -8px;
  position: absolute;
  top: 50%;
  left: -19px;
  width: 14px;
}
/* line 44, ../../sass/modules/slideshow.scss */
.slideshow .show-slide:hover {
  background-position: 0 bottom;
  color: #1681bf;
}
/* line 48, ../../sass/modules/slideshow.scss */
.slideshow .show-slide:active {
  color: #01355b;
}
/* line 49, ../../sass/modules/slideshow.scss */
.slideshow .show-slide.next {
  /*background-image: image-url("slideshow/next.png");*/
  left: auto;
  right: -3%;
  z-index: 9999;
}
/* line 55, ../../sass/modules/slideshow.scss */
.slideshow .show-slide > i {
  font-size: 14px;
}
/* line 58, ../../sass/modules/slideshow.scss */
.slideshow .slide-description {
  background-color: black;
  bottom: 0;
  color: white;
  padding: 11px 13px;
  position: absolute;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
